<section id="team ad" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
          
            <h3>Our Hot Summer<span>Deals</span></h3>
            <p>All listed items are 50% off!</p>
        </div>

        <div class="row justify-content-center adSection">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch justify-content-around" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        
           
                    </div>
                    <div class="member-info">
                        <h4>Castle Dog House</h4>
                        <img src="/Content/css/img/DogHouseCastle.jfif" class="adPic"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                    
                
                    </div>
                    <div class="member-info">
                        <h4>Chicken Nuggets</h4>
                        <img src="~/Content/css/img/chickennugs.jfif" class="adPic"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="member-img">
                    
             
                    </div>
                    <div class="member-info">
                        <h4>Bacon Bone</h4>
                        <img src="~/Content/css/img/dogbone.png" />
                    </div>
                </div>
            </div>

         
  




        </div>

    </div>
</section>
