<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=StoreFront;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

  <add name="StoreFrontEntities" connectionString="metadata=res://*/StoreFront.csdl|res://*/StoreFront.ssdl|res://*/StoreFront.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=StoreFront;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
