@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title text-center">
  <h2>Password Reset Confirmed</h2>
</hgroup>
<div class="text-center">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
