
@{
    ViewBag.Title = "Home";
}





<main id="main" class="justify-content-center">
    
    <div>
        <img src="~/Content/css/img/DogLogo.jpg" />
    </div>
</main>
@Html.Partial("_SalesAdvertisementPartial")